#calculator-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 5px;
}

#display-screen {
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#buttons-numbers-operations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#operation-scientific {
    grid-column: 1 / span 4;


}
#plusImage{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    position:absolute;
}
#minusImage{
    width: 40px;
    height: 40px;
    margin-top: 40px;
    position:absolute;
}
#multiplyImage{
    width: 40px;
    height: 40px;
    margin-top: 70px;
    position:absolute;
}
#divideImage{
    width: 40px;
    height: 40px;
    margin-top: 100px;
    position:absolute;
}